/*class i.fas fa-bars { color: orange} style should be orange*/
/*footer i.fas {display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888; padding: 0.5em 0.6em;} puts the social icons in a circle */

body {
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  /* background-color: black; */
}

.nav-bar {
  position: fixed;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
}

.logo {
  left: 0;
  top: 0;
  position: absolute;
  width: 106px;
  height: 48px;
  background-color: black;
 
}

.logo img {
  display: block;
  height: 16px;
  width: 66px;
  position: relative;
  background-color: black;
  padding: 16px 20px;
}
