body {
  font-family: "ARS Maquette Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0 0;
}

.nav-bar {
  position: fixed;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

/*Logo Area*/
.logo {
  left: 0;
  top: 0;
  position: absolute;
  width: 106px;
  height: 48px;
  background-color: black;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.logo img {
  display: block;
  height: 16px;
  width: 66px;
  position: relative;
  background-color: black;
  padding: 16px 20px;
}

.icon1 {
  height: 48px;
  opacity: 0.25;
  padding: 16px;
  width: 48px;
}

.icon2 {
  height: 48px;
  padding: 16px;
  width: 48px;
}

.icon2 i.fas {
  color: #ff4500;
}

.logo .hover-box {
  display: none;
}

.logo:hover .hover-box {
  display: block;
  background-color: black;
  margin-top: 0;
}

.hover-box {
  padding-bottom: 10px;
  color: white;
  list-style: none;
  text-align: center;
}

.hover-box a {
  text-decoration: none;
  color: white;
}

/*nav bar thats hidden*/
.link-bar {
  display: none;
}

.link-second {
  display: none;
}

.icon3 {
  display: none;
}

/*main area*/

main {
  padding-top: 60px;
  font-family: "ARS Maquette Pro", Arial, Helvetica, sans-serif;
  font-size: 12px;
  position: relative;
}

/*Start of containers*/
.grid-container {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 30px;
  position: relative;
}

.back-image {
  background-size: cover;
  overflow: hidden;
  opacity: 0.5;
}

.flex-a {
  position: relative;
  font-size: 14px;
  color: #000000;
  padding-bottom: 10px;
  background: linear-gradient(180deg,
      rgba(10, 10, 10, 1) 0%,
      rgba(83, 75, 75, 1) 45%,
      rgba(255, 255, 255, 1) 100%);
}

.flex-a .date {
  display: none;
}

.flex-a h2 {
  position: absolute;
  z-index: 100;
  font-size: 22px;
  font-weight: bold;
  left: 10px;
  bottom: 120px;
  margin: 0;
  padding-right: 10px;
}

.flex-a a {
  text-decoration: none;
  color: #fffefe;
}

.flex-a .bottom-desc {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 90px;
  margin: 0;
  -webkit-text-stroke: 0.5px #000000;
}

.flex-b {
  position: relative;
  font-size: 14px;
  color: #000000;
  padding-bottom: 10px;
  background: linear-gradient(180deg,
      rgba(10, 10, 10, 1) 0%,
      rgba(83, 75, 75, 1) 45%,
      rgba(255, 255, 255, 1) 100%);
}

.flex-b .date {
  display: none;
}

.flex-b h2 {
  position: absolute;
  z-index: 100;
  font-size: 22px;
  font-weight: bold;
  left: 10px;
  bottom: 120px;
  margin: 0;
  padding-right: 10px;
}

.flex-b a {
  text-decoration: none;
  color: #ffffff;
}

.flex-b .bottom-desc {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 90px;
  margin: 0;
  -webkit-text-stroke: 0.5px #000000;
}

.flex-c {
  position: relative;
  font-size: 14px;
  color: #000000;
  padding-bottom: 10px;
  background: linear-gradient(180deg,
      rgba(10, 10, 10, 1) 0%,
      rgba(83, 75, 75, 1) 45%,
      rgba(255, 255, 255, 1) 100%);
}

.flex-c .date {
  display: none;
}

.flex-c h2 {
  position: absolute;
  z-index: 100;
  font-size: 22px;
  font-weight: bold;
  left: 10px;
  bottom: 120px;
  margin: 0;
  padding-right: 10px;
}

.flex-c a {
  text-decoration: none;
  color: #ffffff;
}

.flex-c .bottom-desc {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 90px;
  margin: 0;
  -webkit-text-stroke: 0.5px #000000;
}

/* latest funding starts here */
.latest-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.fund-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}

.fund-nav ul li:first-child {
  font-size: 30px;
  flex: 1;
  color: #ff4500;
}

.fund-nav ul a {
  text-decoration: none;
  color: #ff4500;
}

.hidden-li {
  display: none;
}

.lastest-fund {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  width: 480px;
  background-color: rgb(255, 250, 248);
  padding-bottom: 15px;
}

.lastest-fund .img-top img {
  position: absolute;
  background-color: inherit;
  top: 10px;
  left: 20px;
}

.lastest-fund h4 {
  color: white;
  margin-top: 10px;
  padding-top: 10px;
  background-color: red;
  padding-left: 80px;
  color: white;
  padding-bottom: 10px;
  font-size: 16px;
}

a .lastest-fund .p-price {
  font-size: 20px;
  line-height: 0;
  padding-left: 80px;
}

.p-last {
  padding-left: 80px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.latest-main a {
  text-decoration: none;
  color: black;
}

.my-ul {
  border-bottom: 1px solid orange;
}

.lastest-fund ul {
  list-style: none;
}

.lastest-fund .fund-details {
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
}

.lastest-fund header {
  background-color: rgb(254, 242, 240);
}



/* latest funding ends here */

  /*Info Containers*/
  .info-boxes-area {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 30px;
    position: relative;
  }
  
  .info-container h2 {
    color: #f42;
    text-decoration: none;
  }
  
  .info-title a {
    color: #f42;
    text-decoration: none;
  }
  
  .info-container {
    position: relative;
    font-size: 14px;
    color: #000000;
    padding-bottom: 10px;
  }
  
  .info-box .info-desc {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 250px;
    margin: 0;
  }
  
  .info-box a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .info-box h2 {
    position: absolute;
    z-index: 100;
    font-size: 22px;
    font-weight: bold;
    left: 10px;
    top: 140px;
    margin: 0;
    padding-right: 10px;
  }
  
  .info-center {
    display: flex;
    justify-content: space-between;
    height: 96px;
    background-color: rgba(255, 68, 34, .06);
    color: #ff4500;
  }
  
  .info-center a {
    text-decoration: none;
    color: #ff4500;
  }
  
  .info-left {
    text-align: left;
    width: 238px;
    margin: 0;
    padding-right: 30px;
    padding-left: 5px;
    font-weight: 700;
  }
  
  .info-center h5 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
  }
  
  .info-back-image {
    background-size: cover;
    overflow: hidden;
    opacity: 0.5;
    background: linear-gradient(180deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(83, 75, 75, 1) 45%,
        rgba(255, 255, 255, 1) 100%);
  }
  
  .info-r-image {
    background-size: cover;
    overflow: hidden;
    height: 96px;
    width: 96px;
  }
  
  .info-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .info-links a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 16pt;
    font-family: inherit;
  }
  
  .info-links li {
    height: 51px;
    list-style: none;
    text-align: justify;
  }
  
  .info-links ul {
    padding-left: 5px;
  }
  
  .info-links li::before {
    content: "• ";
    color: #ff4500;
  }
  
  /*Info Container Grid*/
  
  .info-boxes-grid {
    display: none;
  }

/*latest news additions*/
.news-color {
  font-size: 10px;
  color: #808080;
}

.news-color2 {
  font-size: 10px;
  color: #808080;
  padding-left: 10px;
}

/*latest details area*/
.latest-head {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.latest-head .deals {
  font-size: 20px;
}

.latest-head span a {
  color: #f42;
  text-decoration: none;
}

.latest-head .see-more {
  padding-top: 40px;
}

.latest {
  /*position: relative;
  display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
}

.latest-items {
  display: grid;
  grid-template-columns: 75px auto;
  /*grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));*/
  height: auto;
  padding-left: 15px;
}

.latest img {
  width: 75px;
  height: 55px;
  padding-bottom: 20px;
}

.latest-items .child {
  font-weight: 600;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.latest-items .child .price {
  text-decoration: line-through;
  font-size: 12px;
  color: #808080;
}

/*footer area*/
.full-footer {
  text-align: center;
  display: block;
  padding-top: 25px;
}

.footer-follow {
  background: #131313;
  padding: 35px 0;
  color: #ffffff;
  list-style: none;
}

.footer-follow i.fas {
  color: #ffffff;
}

.link-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.link-wrap a {
  color: #ffffff;
  text-decoration: none;
}

.footer-legal {
  background: #000000;
  padding: 35px 0;
  color: #ffffff;
  text-align: center;
}

.link-wrap2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fafaicons {
  padding-bottom: 10px;
}

/*media settings medium and up*/
@media (min-width: 600px) {
  /*Info Container Grid*/
  /*turn of mobile info boxes*/
  .info-boxes-area {
    display: none;
  }

  .info-boxes-grid {
    padding-left: 10px;
    padding-right: 15px;
    display: grid;
    grid-template-areas: '1fr 1fr 1fr';
    grid-gap: 10px;
    padding-bottom: 40px;
  }

  .info-boxes-grid {
    padding-left: 10px;
    padding-right: 15px;
    display: grid;
    grid-template-areas: '1fr 1fr 1fr';
    grid-gap: 10px;
    padding-bottom: 40px;
  }

  .info-container-grid h2 {
    color: #f42;
    text-decoration: none;
  }

  .info-title a {
    color: #f42;
    text-decoration: none;
  }

  .info-container-grid {
    position: relative;
    font-size: 14px;
    color: #000000;
    padding-bottom: 10px;
  }

  .info-box-grid .info-desc {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 250px;
    margin: 0;
  }

  .info-box-grid a {
    text-decoration: none;
    color: #ffffff;
  }

  .info-box-grid h2 {
    position: absolute;
    z-index: 100;
    font-size: 22px;
    font-weight: bold;
    left: 10px;
    top: 140px;
    margin: 0;
    padding-right: 10px;
  }

  .info-center-grid {
    display: flex;
    justify-content: space-between;
    height: 96px;
    background-color: rgba(255, 68, 34, .06);
    color: #ff4500;
  }

  .info-center-grid a {
    text-decoration: none;
    color: #ff4500;
  }

  .info-left {
    text-align: left;
    width: 238px;
    margin: 0;
    padding-right: 30px;
    padding-left: 5px;
    font-weight: 700;
  }

  .info-center-grid h5 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
  }

  .info-back-image {
    background-size: cover;
    overflow: hidden;
    opacity: 0.5;
    background: linear-gradient(180deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(83, 75, 75, 1) 45%,
        rgba(255, 255, 255, 1) 100%);
  }

  .info-r-image {
    background-size: cover;
    overflow: hidden;
    height: 96px;
    width: 96px;
  }

  .info-bottom {
    display: flex;
    justify-content: space-between;
  }

  .info-links a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    line-height: 16pt;
    font-family: inherit;
  }

  .info-links li {
    height: 51px;
    list-style: none;
    text-align: justify;
  }

  .info-links ul {
    padding-left: 5px;
  }

  .info-links li::before {
    content: "• ";
    color: #ff4500;
  }

  /*turn off mobile cover*/
  .flex-container {
    display: none;
  }

  .grid-container {
    padding-left: 10px;
    padding-right: 15px;
    display: grid;
    grid-template-areas: "first first second""first first third";
    grid-gap: 10px;
    padding-bottom: 40px;
  }

  .grid-a {
    margin: 0;
    position: relative;
    background-image: linear-gradient(0deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(83, 75, 75, 1) 64%,
        rgba(169, 172, 172, 1) 100%);
    font-size: 12px;
    color: #adabab;
  }

  .grid-a {
    grid-area: first;
  }

  .grid-b {
    grid-area: second;
    position: relative;
    background-image: linear-gradient(0deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(83, 75, 75, 1) 64%,
        rgba(169, 172, 172, 1) 100%);
    font-size: 12px;
    color: #adabab;
  }

  .grid-c {
    grid-area: third;
    position: relative;
    background-image: linear-gradient(0deg,
        rgba(10, 10, 10, 1) 0%,
        rgba(83, 75, 75, 1) 64%,
        rgba(169, 172, 172, 1) 100%);
    font-size: 12px;
    color: #adabab;
  }

  .grid-a h2 {
    position: absolute;
    z-index: 100;
    font-size: 22px;
    font-weight: bold;
    left: 10px;
    bottom: 40px;
    margin: 0;
  }

  .grid-a .bottom-desc {
    position: absolute;
    z-index: 100;
    left: 10px;
    bottom: 20px;
    margin: 0;
  }

  .grid-a a {
    text-decoration: none;
    color: #ffffff;
    grid-row: 1;
    grid-column: 1;
  }

  .back-image img {
    opacity: 0.5;
    width: 100%;
  }

  .grid-a .date {
    display: none;
  }

  .grid-b h2 {
    position: absolute;
    z-index: 100;
    font-size: 22px;
    font-weight: bold;
    left: 10px;
    bottom: 40px;
    margin: 0;
  }

  .grid-b .bottom-desc {
    position: absolute;
    z-index: 100;
    left: 10px;
    bottom: 20px;
    margin: 0;
  }

  .grid-b a {
    text-decoration: none;
    color: #ffffff;
    grid-row: 1;
    grid-column: 1;
  }

  .back-image img {
    opacity: 0.5;
    width: 100%;
  }

  .grid-b .date {
    display: none;
  }

  .grid-c h2 {
    position: absolute;
    z-index: 100;
    font-size: 22px;
    font-weight: bold;
    left: 10px;
    bottom: 40px;
    margin: 0;
  }

  .grid-c .bottom-desc {
    position: absolute;
    z-index: 100;
    left: 10px;
    bottom: 20px;
    margin: 0;
  }

  .grid-c a {
    text-decoration: none;
    color: #ffffff;
    grid-row: 1;
    grid-column: 1;
  }

  .back-image img {
    opacity: 0.5;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .latest-main {
    display: flex;
    flex-direction: row;
  }

  .lastest-fund {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width: 280px;
    background-color: rgb(255, 250, 248);
    padding-bottom: 15px;
  }

  .fund-nav ul a {
    text-decoration: none;
    color: #ff4500;
    padding-left: 10px;
    font-size: 18px;
  }

  .fund-nav ul .header-li {
    font-size: 40px;
    flex: 1;
  }

  .lastest-fund {
    position: relative;
    margin-left: 20px;
  }

  .hidden-li {
    display: flex;
  }

  #header-li {
    font-size: 80px;
    flex: 1;
  }
}