@font-face {
  font-family: 'ARS Maquette Pro';
  src: url('ARSMaquettePro-Regular.eot');
  src:
    local('ARS Maquette Pro Regular'),
    local('ARSMaquettePro-Regular'),
    url('ARSMaquettePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('ARSMaquettePro-Regular.woff2') format('woff2'),
    url('ARSMaquettePro-Regular.woff') format('woff'),
    url('ARSMaquettePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
